<!DOCTYPE html>
<html ng-app="gromtv" ng-controller="AppCtrl" ng-init="init('<%- user.getAttributes('_id') -%>')">
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/bower_components/angular-ui-select/dist/select.css">
  <link rel="stylesheet" href="/css/custom.css" />
</head>
<body>
  <!-- JS from Bower Components -->
  <script src="/bower_components/less.js/dist/less-1.6.2.js" data-build="exclude"></script>
  <script src="/bower_components/jquery/jquery.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/bower_components/underscore/underscore.js"></script>
  <script src="/bower_components/moment/moment.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/bower_components/angular-ui-utils/ui-utils.js"></script>
  <script src="/bower_components/socket.io-client/socket.io.js"></script>
  <script src="/bower_components/angular-ui-select/dist/select.js"></script>
  <script src='/bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
  <script src='/bower_components/textAngular/dist/textAngular.min.js'></script>
  <!-- Add New Bower Component JS Above -->


  <!-- Main App JS -->
  <script src="/backendApp.js"></script>

  <script src="/components/socketio.js"></script>
  <script src="/components/eventsAggregator.js"></script>
  <script src="/components/model.js"></script>
  <script src="/components/context.js"></script>

  <script src="/models/userModel.js"></script>
  <script src="/models/postModel.js"></script>
  <script src="/models/categoryModel.js"></script>

  <script src="/modules/backend/backend.js"></script>
  <script src="/modules/category/create/categoryCreate.js"></script>
  <script src="/modules/category/edit/categoryEdit.js"></script>
  <script src="/modules/category/index/category.js"></script>
  <script src="/modules/post/create/postCreate.js"></script>
  <script src="/modules/post/edit/postEdit.js"></script>
  <script src="/modules/post/index/post.js"></script>

  <script src="/partials/footer/footer.js"></script>
  <script src="/partials/header/header.js"></script>
  <script src="/partials/adminMenu/adminMenu.js"></script>
  <!-- Add New Component JS Above -->
  <div ng-include="headerHtml"></div>
  <div>
    <div id="content" class="container">
      <div class="row">
        <div ui-view>
        </div>
      </div>
    </div>
  </div>
  <div ng-include="footerHtml"></div>
</body>
</html>
