<div class="navbar navbar-gromtv" role="navigation" ng-controller="HeaderCtrl">
  <div class="container">
    <div class="navbar-header nav-justified">
      <a class="navbar-brand" href="/"><img ng-src="/imgs/miniLogo.jpg" /></a>
      <div class="navbar-form navbar-right">
        <div class="form-group">
          <a href="/logout" target="_self" class="btn btn-danger">Logout</a>
        </div>
      </div>
    </div><!--/.navbar-collapse -->
  </div>
</div>