<div class="navbar navbar-gromtv" role="navigation" ng-controller="HeaderCtrl">
  <div class="container">
    <div class="navbar-header nav-justified">
      <a class="navbar-brand" href="/"><img ng-src="/imgs/miniLogo.jpg" /></a>
      <div class="navbar-form navbar-right">
        <div class="form-group" style="margin-right: 5px;"> <!--TODO:fix me!-->
          <a class="navbar-link" ui-sref="profile({ id : userId })">
            <span class="text">Profile</span>
            <div class="clearfix"></div>
          </a>
        </div>
        <div class="form-group">
          <a href="/logout" target="_self" class="btn btn-danger">Logout</a>
        </div>
      </div>
    </div><!--/.navbar-collapse -->
  </div>
</div>