<div ng-controller="AdminMenuCtrl">
  <div user-box="user" data-me="me"></div>
  <div class="menu-left">
    <ul class="nav nav-pills nav-stacked nav-bar-left">
      <li ng-repeat="menuItem in menuItems" ng-class="{active: menuItem.state == activeState}">
        <a ui-sref="{{menuItem.sref}}">{{menuItem.title}}</a>
      </li>
    </ul>
  </div>
</div>