<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
    <meta name="description" content="GROM TV Громадське телебачення Шокирующие новости Украины" />
    <meta name="keywords" content="GROM TV Громадське телебачення,
Шокирующие новости Украины, новости дня" />
    <meta name="rights" content="Будь-яке використання матеріалів сайту можливе лише з активним гіперпосилання на gromtv.net гіперпосиланням на www.gromtv.net" />
		<link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
		
		<!-- View CSS StyleSheets here: -->
		<%- stylesheets %>
			
	</head>	
	<body>
		
		<div class="navbar navbar-gromtv" role="navigation">
			<div class="container">
        <div class="navbar-header nav-justified">

          <a class="navbar-brand" href="/"><img src="/imgs/miniLogo.jpg" /></a>
          <ul class="nav navbar-nav">
            <% categories.forEach(function(category) { %>
            <li class="<%- requestUri == '/category/'+category._id ? 'active' : '' %>">
              <a href="/category/<%- category._id %>"><%- category.name %></a>
            </li>
            <% }); %>
          </ul>
          <div class="navbar-form navbar-right">
            <!--<div class="form-group" style="margin-right: 5px;"> &lt;!&ndash;TODO:fix me!&ndash;&gt;
              <a href="/signin" class="btn btn-success"><i class="fa fa-sign-in"></i> Sing in</a>
            </div>
            <div class="form-group">
              <a href="/signup" class="btn btn-success"><i class="fa fa-pencil-square-o"></i> Sing up</a>
            </div>-->
          </div>
        </div><!--/.navbar-collapse -->
			</div>
		</div>

		<div class="container">
			<%- body %>
      <div class="clearfix"></div>
			<hr>

			<footer>
				<p style="text-align: center;">&copy; gromtv.net 2014</p>
			</footer>
		</div> <!-- /container -->
		
		<script src="/vendor/bower_components/jquery/jquery.js"></script>
		<script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<%- scripts %>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var general = io('http://<%- host %>')
        , site = io('http://<%- host %>/site')
        , chat = io('http://<%- host %>/chat');

      function socket(instance, name) {
        instance.on('connect', function(){
          console.log('Client: ' + name + ' connected');
          instance.emit('test');

          function event(data) {
            console.log('Client: on event (' + name + ')');
            console.log(data);
            instance.removeListener('event', event);
          }
          instance.on('event', event);

          function disconnect() {
            console.log('Client: ' + name + ' disconnect');
            instance.removeListener('disconnect', disconnect);
          }
          instance.on('disconnect', disconnect);
        });
      }

      socket(site, 'site');
      socket(chat, 'chat');
      socket(general, 'general');
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51257124-1', 'gromtv.net');
      ga('send', 'pageview');

    </script>
	</body>
</html>