<% layout('../layout/main') %>
<div class="col-md-6 col-sm-6">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <iframe width="560" height="315" src="//www.youtube.com/embed/2RUzbEvdbwE?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <% posts.forEach(function(post) { %>
      <div>
        <a href="/post/<%- post._id %>"><h3><img src="<%- post.mediaUrl %>"/><%- post.title %></h3></a>
      </div>
      <hr>
      <% }); %>
    </div>
  </div>
</div>
<div class="col-md-6 col-sm-6">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div>
        <h3><%- post.title %></h3>
        <% if(post.isYoutube) { %>
          <iframe width="560" height="315" src="<%- post.mediaUrl %>?rel=0" frameborder="0" allowfullscreen=""></iframe>
        <% } else { %>
          <img src="<%- post.mediaUrl %>"/>
        <% } %>
        <p><%- post.content %></p>
      </div>
    </div>
  </div>
</div>
