<div class="col-md-3 col-sm-4" ng-include="menuHtml"></div>
<div class="col-md-8 col-sm-8">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div>
        <h3>Create Post</h3>
        <form role="form" name="postCreateForm">
          <div class="input-group form-group">
            <span class="input-group-addon">Title</span>
            <input type="text" name="title" class="form-control" ng-model="post.title" placeholder="Title" />
          </div>
          <div class="input-group form-group">
            <span class="input-group-addon">Category</span>
            <ui-select ng-model="post.category"
                       theme="bootstrap"
                       ng-disabled="disabled"
                       reset-search-input="false">
              <ui-select-match placeholder="Enter a name of category...">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="category in categories track by $index"
                                 refresh="refreshCategories($select.search)"
                                 refresh-delay="0">
                <div ng-bind-html="trustAsHtml((category.name | highlight: $select.search))"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="input-group form-group">
            <span class="input-group-addon">Media Url</span>
            <input type="text" name="title" class="form-control" ng-model="post.mediaUrl" placeholder="Url to main media file" />
          </div>
          <div text-angular ng-model="post.content" placeholder="Content"></div>
          <div class="row">
            <div class="col-md-12">
              <input type="button" ng-click="save(post)" class="btn btn-success pull-right" value="Save"/>
            </div>
          </div>
        </form>

        <!--
        <div class="form-group">
          <a href="#" class="btn btn-primary">Change password</a>
        </div>
        <div class="form-group">
          <a href="#" class="btn btn-primary">Change Photo Users</a>
        </div>
        <div class="form-group">
          <a href="#" class="btn btn-primary">Change the cover photos</a>
        </div>
        -->
      </div>
    </div>
  </div>
</div>