<% if (!!errors) { %>
  <% for (var field in errors) { %>
    <div>
      <%- field -%>: 
      <% errors[field].forEach(function(error) { %>
        <div>
          <%- error -%>
        </div>
      <% }) %>
    </div>
  <% } %>
<% } %>

<form action="/auth/twitter/authorize" method="post">
  <input type="email" name="email" />
  <input type="hidden" name="login" value="<%- user.login -%>" />
  <input type="hidden" name="firstname" value="<%- user.firstname -%>" />
  <input type="hidden" name="lastname" value="<%- user.lastname -%>" />
  <input type="submit" value="Send">
</form>