<div class="col-md-3 col-sm-4" ng-include="menuHtml"></div>
<div class="col-md-8 col-sm-8">
  <div class="row">
    <div class="col-md-12">
      <h1>Posts</h1>
      <table class="table">
        <tr><th>Title</th><th></th></tr>
        <tr ng-repeat="post in posts"><td>{{post.title}}</td><td><a ui-sref="postEdit({id: post._id})">Edit</a> <a ng-click="delete($index)">Delete</a></td></tr>
      </table>
    </div>
  </div>
</div>