<div class="col-md-3 col-sm-4" ng-include="menuHtml"></div>
<div class="col-md-8 col-sm-8" ng-controller="CategoryCreateCtrl">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div>
        <h3>Create Category</h3>
        <form role="form" name="postCreateForm">
          <div class="input-group form-group">
            <span class="input-group-addon">Name</span>
            <input type="text" name="name" class="form-control" ng-model="category.name" placeholder="Name" />
          </div>
          <div class="row">
            <div class="col-md-12">
              <input type="button" ng-click="save(category)" class="btn btn-success pull-right" value="Save"/>
            </div>
          </div>
        </form>

        <!--
        <div class="form-group">
          <a href="#" class="btn btn-primary">Change password</a>
        </div>
        <div class="form-group">
          <a href="#" class="btn btn-primary">Change Photo Users</a>
        </div>
        <div class="form-group">
          <a href="#" class="btn btn-primary">Change the cover photos</a>
        </div>
        -->
      </div>
    </div>
  </div>
</div>