<div class="col-md-3 col-sm-4" ng-include="sidebar"></div>
<div class="col-md-8 col-sm-8">
  <div class="row">
    <div class="col-md-12 user-wall-block">
      <div class="user-wall">
        <h3>Alice in Wonderland, part dos</h3>
        <p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
            'Yes, we went to school in the sea, though you mayn't believe it—'
            'I never said I didn't!' interrupted Alice.
            'You did,' said the Mock Turtle.</p>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <span class="badge pull-left">Posted 2012-08-02 20:47:04</span>
            <div class="pull-right">
              <span class="label label-default">alice</span>
              <span class="label label-primary">story</span>
              <span class="label label-success">blog</span>
              <span class="label label-info">personal</span>
              <span class="label label-warning">Warning</span>
              <span class="label label-danger">Danger</span>
            </div>
          </div>
        </div>
      </div>
      <div class="user-wall">
        <h3>Alice in Wonderland, part dos</h3>
        <p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
            'Yes, we went to school in the sea, though you mayn't believe it—'
            'I never said I didn't!' interrupted Alice.
            'You did,' said the Mock Turtle.</p>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <span class="badge pull-left">Posted 2012-08-02 20:47:04</span>
            <div class="pull-right">
              <span class="label label-default">alice</span>
              <span class="label label-primary">story</span>
              <span class="label label-success">blog</span>
              <span class="label label-info">personal</span>
              <span class="label label-warning">Warning</span>
              <span class="label label-danger">Danger</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>