.navbar-gromtv {
  background-color: #676aed;
  border-color: #676aed;
}

.navbar-gromtv .navbar-brand {
  color: #999999;
}

.navbar-gromtv .navbar-brand:hover,
.navbar-gromtv .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-gromtv .navbar-text {
  color: #999999;
}

.navbar-gromtv .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-gromtv .navbar-nav > li > a:hover,
.navbar-gromtv .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-gromtv .navbar-nav > .active > a,
.navbar-gromtv .navbar-nav > .active > a:hover,
.navbar-gromtv .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #f37857;
}

.navbar-gromtv .navbar-nav > .disabled > a,
.navbar-gromtv .navbar-nav > .disabled > a:hover,
.navbar-gromtv .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}

.navbar-gromtv .navbar-toggle {
  border-color: #333333;
}

.navbar-gromtv .navbar-toggle:hover,
.navbar-gromtv .navbar-toggle:focus {
  background-color: #333333;
}

.navbar-gromtv .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-gromtv .navbar-collapse,
.navbar-gromtv .navbar-form {
  border-color: #101010;
}

.navbar-gromtv .navbar-nav > .open > a,
.navbar-gromtv .navbar-nav > .open > a:hover,
.navbar-gromtv .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #080808;
}

.navbar-gromtv .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-gromtv .navbar-nav > .dropdown > a .caret {
  border-top-color: #999999;
  border-bottom-color: #999999;
}

.navbar-gromtv .navbar-nav > .open > a .caret,
.navbar-gromtv .navbar-nav > .open > a:hover .caret,
.navbar-gromtv .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-gromtv .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-gromtv .navbar-nav .open .dropdown-menu > li > a {
    color: #999999;
  }
  .navbar-gromtv .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-gromtv .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-gromtv .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-gromtv .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-gromtv .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #080808;
  }
  .navbar-gromtv .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-gromtv .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-gromtv .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}

.navbar-gromtv .navbar-link {
  color: #ffffff;
}

.navbar-gromtv .navbar-link:hover {
  color: #f37857;
}

.navbar-brand {
  padding: 0;
  padding-top: 4px;
}