<% layout('../layout/main') %>
<br />
<br />
<table class="col-xs-12 text-center">
  <tr>
    <td>
      <script language="JavaScript">
if((navigator.userAgent.indexOf('iPad') != -1) || (navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('Android') != -1))
{
        document.write('<video width="560" height="315" controls="true"><source src="http://aloha.cdnvideo.ru/aloha/gromtv.sdp/playlist.m3u8" type="video/mp4" /> </video>');
}
else
{
document.write('<object width="560" height="315" id="slon" data="http://www.aloha.cdnvideo.ru/aloha/slon/SlonPlayer_stable.swf" type="application/x-shockwave-flash">'+
                '<param name="movie" value="http://www.aloha.cdnvideo.ru/aloha/slon/SlonPlayer_stable.swf" />'+
                '<param name="allowfullscreen" value="true" />'+
                '<param name="allowscriptaccess" value="always" />'+
                '<param name="flashvars" value='+
                        '"config='+
                               '{ \'playlist\':'+
                                        '{\'autoPlay\' : \'false\' '+
                                        ',\'clip\' :  '+
                                                '{\'live\': \'true\'  '+
                                                
                                                ',\'progressLine\':\'false\' '+
                                                 ',\'url\': \'rtmp://aloha.cdnvideo.ru/aloha/gromtv.sdp\' '+
                                                '}'+
                                        '}'+
                                '};"'+
                '/>'+
        '</object>');
}
</script>
      <!--<iframe width="560" height="315" src="//www.youtube.com/embed/2RUzbEvdbwE?rel=0" frameborder="0" allowfullscreen></iframe>-->
    </td>
  </tr>
</table>
