<% layout('../layout/simple') %>

<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
  <div class="panel panel-default" style="margin: 20px 0px 90px 0px;">
    <% if (errors) { %>
      <div class="alert alert-danger">
        <% for (var field in errors) { %>
          <div>                         
            <% errors[field].forEach(function(item) { %>
              <span>
                <%- item %>
              </span>
            <% }) %>
          </div>
        <% } %>
      </div>
    <% } %>
    <div class="panel-heading">
      <h3 class="panel-title">Please sign up</h3>
    </div>
    <div class="panel-body">
      <form role="form" action="/signup" method="post">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="text" name="firstname" id="firstname" class="form-control input-sm" placeholder="First Name">
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="text" name="lastname" id="lastname" class="form-control input-sm" placeholder="Last Name">
            </div>
          </div>
        </div>

        <div class="form-group">
          <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="password" name="passwordConfirmation" id="passwordConfirmation" class="form-control input-sm" placeholder="Confirm Password">
            </div>
          </div>
        </div>
        
        <input type="submit" value="Register" class="btn btn-lg btn-success btn-block">
      
      </form>
    </div>
  </div>
</div>