<div class="col-md-3 col-sm-4" ng-include="sidebar"></div>
<div class="col-md-9 col-sm-8">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="edit-profile">
        <h3>Edit Profile</h3>
        <form role="form" name="userEditForm">
          <div class="input-group form-group">
            <span class="input-group-addon">First Name</span>
            <input type="text" name="firstname" class="form-control" ng-model="user.firstname" placeholder="First Name" />
          </div>
          <div class="input-group form-group">
            <span class="input-group-addon">Surname</span>
            <input type="text" name="surname" class="form-control" ng-model="user.surname" placeholder="Surname Name" />
          </div>
          <div class="input-group form-group">
            <span class="input-group-addon">Last Name</span>
            <input type="text" name="lastname" class="form-control" ng-model="user.lastname" placeholder="Last Name" />
          </div>
          <div class="input-group form-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i> Email</span>
            <input type="text" name="email" class="form-control" ng-model="user.email" required placeholder="Email" />
            <div class="alert alert-danger" ng-show="userEditForm.email.$dirty && userEditForm.email.$invalid">Title is required!</div>
          </div>
          <div class="form-group">
            <label class="radio-button">
                <i class="fa fa-male"></i> 
                <input type="radio" name="gender" ng-model="user.gender" value="male" />
              </label>
            <label class="radio-button">
                <i class="fa fa-female"></i>
                <input type="radio" name="gender" ng-model="user.gender" value="female" />
              </label>
          </div>
          <!-- change to be directive-->
          <div class="input-group form-group">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input type="text" name="dob" ng-model="user.dob" class="form-control datepicker-edit" placeholder="date" />
          </div>
          <div class="input-group form-group">
            <span class="input-group-addon">Login</span>
            <input type="text" name="login" ng-model="user.login" class="form-control" placeholder="Login" />
          </div>
          <div class="row">
            <div class="col-md-12">
              <input type="button" ng-click="save(user)" class="btn btn-success pull-right" value="Save"/>
            </div>
          </div>
        </form>
        
        <!--
        <div class="form-group">
          <a href="#" class="btn btn-primary">Change password</a>
        </div>
        <div class="form-group">
          <a href="#" class="btn btn-primary">Change Photo Users</a>
        </div>
        <div class="form-group">
          <a href="#" class="btn btn-primary">Change the cover photos</a>
        </div>
        -->
      </div>
    </div>
  </div>
</div>