<div class="col-md-3 col-sm-4" ng-include="menuHtml"></div>
<div class="col-md-8 col-sm-8">
  <div class="row">
    <div class="col-md-12">
      <h1>Category</h1>
      <table class="table">
        <tr><th>Name</th><th></th></tr>
        <tr ng-repeat="category in categories"><td>{{category.name}}</td><td><a ui-sref="categoryEdit({id: category._id})">Edit</a> <a ng-click="delete($index)">Delete</a></td></tr>
      </table>
    </div>
  </div>
</div>